body {
  background-color: #ffe4b5;
}

#user-form {
  margin-top: 10px;
  border: 10px red;
}

nav {
  background-color: mintcream;
}

.card {
  background-color: #66cdaa;
  width: 300px;
}

.join-message {
  color: rgba(51, 117, 222, 0.704);
  font-size: 38px;
}

.btn {
  border-radius: 50px;
}

.btn:hover {
  cursor: pointer;
}

#search.form-control + .btn {
  position: absolute;
  right: 9px;
  top: 2px;
  bottom: 4px;
  z-index: 1;
  padding: 0;
  color: green;
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}
.card-img-top {
  display: block;
  width: auto;
  max-height: 100%;
  margin: auto;
}
.card {
  max-width: 380px;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

#fa-whiskey-glass {
  color: rgba(231, 231, 4, 0.998);
}

.display-2 {
  color: rgba(249, 249, 116, 0.978) w;
}

@media (max-width: 468px) {
  nav form.navbar-form {
    display: none;
  }
}
