{% extends 'base.html' %} {% block content %}
<div>
  <h1 class="display-2">Find your new favorite cocktail...</h1>
  <form method="POST" id="user_form" style="width: 18rem" action="/search">
    <input type="text" name="search" />
    <div class="btn">
      <button>Search</button>
    </div>
  </form>
</div>
{% if drinks %}
  
  
{% for drink in drinks %}

<div class="row text-left" style="width: 20rem">

  <ul class="list-group list-group-flushstyle" style="margin: 15px">
    <li class="col-md-6 text-left list-unstyled">
      <img class="card-img-top img-thumbnail"src="{{drink.image}}" style="width: 250px">
      <br>
      
      <p><strong>{{drink.name}}</strong></p>
      <div class="card-body">
      <li class="col-md-6 text-left  list-unstyled row">
        Ingredients Needed: {{drink.ingredients}}
      </li>
      <br>
      <p class="col-md-6 text-left ">Instructions: {{drink.instructions}}</p>
      <br>
    </li>

    {% if user_id == g.user_id %}
    <form
      method="POST"
      action="/search/{{drink.name.lower()}}/favorite"
      class="favorite-drink"
    >
      <button style="margin-bottom: 10px"
        id="fa-whiskey-glass"
        class="
                    btn 
                    btn-md 
                    {{'btn-primary'}}"
      >
      <i class="fas fa-glass-whiskey"></i>
      <span>Save this recipe!</span>
      </button>
</div>
    </form>
  
{% endif%}   
    
    {% endfor %}
    
  </ul>

<div>
    
    
    {% endif %} {% endblock %}</div>

    <div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card">
        <div class="card-image-wrapper">
          <img src="https://via.placeholder.com/450x150/FFFFFF" class="card-img-top img-fluid" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    
    <div class="col">
      <div class="card">
        <div class="card-image-wrapper">
          <img src="https://via.placeholder.com/1920x1080/FFFFFF" class="card-img-top img-fluid" alt="...">
        </div>
        
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    
    <div class="col">
      <div class="card">
        <div class="card-image-wrapper">
          <img src="https://via.placeholder.com/350x800/FFFFFF" class="card-img-top img-fluid" alt="...">
        </div>
        
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>