{% extends 'base.html' %} {% block content %}

<h2 class="display-2">{{g.user.first_name}}'s profile page</h2>
<!-- <h4 class="display-6">View your saved recipes <a href="favorite.html">here!</a></h4> -->

{% if user_id == g.user_id %}

<div class="profile-card card text-left container-fluid">
  <div>
    <img class="card-img-top"src="/static/imgs/cocktail.jpg" alt="cocktail-cartoon" style="width: 5rem">
    <h5 class="card-title display-5">{{g.user.username}}</h5>

    <ul class="list-group list-group-flush">
        <li class="card-text list-unstyled">Username: {{g.user.username}}</li>
        <li class="card-text list-unstyled">Bio: {{g.user.bio}}</li>
    <a href="favorite.html" style="margin-top: 20px;">View Favorite recipes</a>
    <div class="edit-btn-area">
        <button class="btn btn-success text-right" style="margin-top: 20px;">Edit user!</button>
        <a href="/edit-profile/{{ user_id }}"></a>
    </div>
  </div>
</div>

<div>
    {% for favorite in g.user.favorites %}
    <p>{{favorite.drink_id}}</p>
    {% endfor %}
</div>


{% endif %} {% endblock %}
