{% extends 'base.html' %} {% block content %}

<h2 class="display-2 text-dark">{{g.user.first_name}}'s Profile</h2>
<!-- <h4 class="display-6">View your saved recipes <a href="favorite.html">here!</a></h4> -->

{% if user_id == g.user_id %}

<div class="profile-card card text-left container-fluid">
  <div>
    <img class="card-img-top"src="/static/imgs/cocktail.jpg" alt="cocktail-cartoon" style="width: 5rem">
    <h5 class="card-title display-5">{{g.user.username}}</h5>

    <ul class="list-group list-group-flush">
        <li class="card-text list-unstyled">Username: {{g.user.username}}</li>
        <li class="card-text list-unstyled">Bio: {{g.user.bio}}</li>
        <!-- <a href="favorite.html" style="margin-top: 20px;">View Favorite recipes</a> -->
    <div class="edit-btn-area">
        <a href="edit-profile.html"></a>
        <button class="btn btn-success text-right" style="margin-top: 20px;">Edit user!</button>
    </div>
    <br>
  </div>
</div>


<div class="profile-card card text-left container-fluid">
    <h5 class="card-title display-8 text-center">Favorite Recipes</h5>
        <ul class="list-group">
        {% for favorite in g.user.favorites %}
            <li class="card-text list-unstyled">{{favorite.drink_id}}</li>
        </ul>   
    {% endfor %}
</div>




{% endif %} {% endblock %}
