{% extends 'base.html' %} {% block content %}

<h1 class="display-2">Find your new favorite cocktail...</h1>
  <div>
    <form method="POST" id="user_form" style="width: 500px" action="/search">
      <input type="text" name="search" />
      <div class="btn">
        <button>Search</button>
      </div>
    </form>
  </div>
{% if drinks %}
  
  
{% for drink in drinks %}

<div class="text-center container" style="width:500px">
  <div class="row-lg-6 mb-4">
    <div class="col">
      <div class="card">
        <img class="card-img-top img-thumbnail"src="{{drink.image}}">
        <div class="card-body">
          <h5 class="card-title"><em>{{drink.name}}</em></h5>
            <p class="card-text align-items-center">
              <strong>Ingredients Needed:</strong>
                <ul>
                  {% for ingredient in drink.ingredients %}
                    <li class="list-unstyled">{{ingredient}}</li>
                  {% endfor %}
                </ul>
            </p>
          
            <p class="card-text align-items-left">
            <strong> Mixing Instructions:</strong> {{drink.instructions}}
            </p>
          <div>
            {% if user_id == g.user_id %}
            <form
            method="POST"
            action="/search/{{drink.id}}/favorite"
            class="favorite-drink"
          >
              <button style="margin: 10px"
                id="fa-whiskey-glass"
                class="
                            btn 
                            btn-md 
                            btn-primary"
              >
              <i class="fas fa-glass-whiskey"></i>
              <span>Save this recipe!</span>
                
              {% endif %}
              </button>
            </form>
          </div>
        </div>
        </div>
      </div>
    </div>
   </div>
</div>
    {% endfor %}   
  </ul>

    
    
    {% endif %} {% endblock %}